img {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero-text {
  width: 30%;
  text-align:start;
  position: absolute;
  top: 30%;
  left: 5%;
  color: white;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 5px 0 20px;
}

/* .book-link {
  position: absolute;
  top: 75%;
  right: 40%;
  list-style: none;
  text-shadow: rgb(0, 0, 0) 5px 0 20px;
  font-weight: bolder;
  font-size: 1rem;
} */
